<%= form_with model: @user, url: profile_path, local: true do |f| %>
<div class="userProfileHeader">
<div class="userProfileHeader_inner flexbox">
    <div class="userProfileHeader_icon">
        <div class="wborder">
        <img src="<%= @user.image %>",width="125px" height= "125px", style= "border-radius: 50%;">
        </div>
    </div>
    <div class="userProfileHeader_name">
        <div class="name">
            <h1>
            <%= current_user.name %>
            </h1>
        </div>
    </div>
</div>
</div>
<div class="userProfile">
<div class="inner">
    <div class="userProfile_Main">
        <div class="scoreBox customer_summary column_3">
            <div class="flexbox scoreBox_wrap">
            <div class="scoreStatus contract_manage review">
                            <span class="scoreStatus_label">評価</span>
                            <span class="scoreStatus_star">
                            <div class="average-score mb-3">
                            <div class="star-rating ml-2">
                            <div class="star-rating-front" style="width: <%= @avg_score_percentage %>%">★★★★★</div>
                            <div class="star-rating-back">★★★★★</div>
                            </div>
                            </div>
                            </span>
                        </div>
                        <div class="scoreStatus contract_manage response">
                            <span class="scoreStatus_label">返信率</span>
                            <span class="scoreStatus_score">
                                90
                                <small>%</small>
                            </span>
                        </div>
                <div class="scoreStatus contract_manage flexbox">
                    <div class="scoreStatus_item relative">
                        <span class="scoreStatus_label flexbox">累計</span>
                        <span class="scoreStatus_score">
                            <% if current_user.customer? %>
                                <%= @sum_total_customers %>
                            <% elsif current_user.consultant? %>
                                <%= @sum_total_consultants %>
                            <% end %>
                        </span>
                        <span>人</span>
                    </div>
                </div>
                <li class="scoreStatus_list manage flexbox">
                            <i class="fas fa-check-circle link"></i>
                            <span class="scoreStatus_list_label">NDA</span>
                        </li>
                        <li class="scoreStatus_list manage flexbox">
                            <i class="fas fa-check-circle link"></i>
                            <span class="scoreStatus_list_label">本人確認</span>
                        </li>
            </div>
            <ul class="scoreStatus_listss flexbox">
                <li class="scoreStatus_lists">
                    <span class="scoreStatus_list_score">
                    <%= link_to following_user_path(@user.id) do %>
                        <span class="bold following_count zero"><%= @user.following.count %></span>
                    <% end %>
                    </span>
                    <%= f.label :フォロー, class: "scoreStatus_list_label follows"%>
                </li>
                <li class="scoreStatus_lists">
                    <span class="scoreStatus_list_score">
                    <%= link_to followers_user_path(@user.id) do %>
                        <span class="bold followers_count zero"><%= @user.followers.count %></span>
                    <% end %>
                    </span>
                    <%= f.label :フォロワー, class: "scoreStatus_list_label follows"%>
                </li>
                <li class="scoreStatus_lists flexbox">
                    <span class="scoreStatus_list_label">
                        最終ログイン
                        <% if current_user.current_sign_in_at > 1.day.ago %>
                        <%= content_tag :p, "24時間以内", class: "current_signin"%>
                        <% elsif current_user.current_sign_in_at > 2.day.ago %>
                        <%= content_tag :p, "1日前", class: "current_signin"%>
                        <% elsif current_user.current_sign_in_at > 3.day.ago %>
                        <%= content_tag :p, "2日前", class: "current_signin"%>
                        <% elsif current_user.current_sign_in_at > 31.day.ago %>
                        <%= content_tag :p, "30日以上", class: "current_signin"%>
                        <% elsif 3.days.ago > current_user.current_sign_in_at > 31.day.ago %>
                        <%= content_tag :p, "30日以上", class: "current_signin"%>
                        <% end %>       
                    </span>
                <li class="scoreStatus_lists flexbox">
                    <span class="scoreStatus_list_label registration_date">
                        登録日
                    <p class="registration_date"><%= current_user.created_at.strftime('%Y/%m/%d') %><p>
                    </span>
                </li>
            </ul>
        </div>
        <div class="tab_wrapper">
            <input id="introduction" type="radio" name="tab_item" checked>
            <label class="tab_item font-bold" for="introduction">
                自己紹介
            </label>
            <input id="plan" type="radio" name="tab_item">
            <label class="tab_item font-bold" for="plan">プラン</label>
            <input id="post" type="radio" name="tab_item">
            <label class="tab_item font-bold" for="post">ブログ</label>
            <input id="review" type="radio" name="tab_item">
            <label class="tab_item font-bold" for="review">レビュー</label>
            <!--自己紹介 カテゴリ-->
            <div class="tab_content" id="introduction_content">
                <div class="tab_content_description">
                    <div class="boxbaseP30">
                        <div class="flexbox title_area">
                            <h2 class="mt-0">自己紹介</h2>
                            <div class="editBox">
                                <%= link_to "編集する",edit_profile_path, class:"button subButton fas fa-edit" %>
                            </div>
                        </div>
                        <div class="plan_detail_markdown_over nobefore" style="max-height: none;">
                            <p><%= @user.introduction %></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--プラン カテゴリ-->
            <div class="tab_content" id="plan_content">
                <div class="tab_content_description">
                    <div class="tab_content_plan">
                    <% @plan.each do |plan| %>
                        <% plan.smallplans.each do |smallplan| %>
                        <%= link_to user_plan_path(@user.id,plan.id) do %>
                        <div class="boxbaseP30">
                        <%= smallplan.plan_name %><br>
                        <%= smallplan.price %>円/回
                        </div>
                        <% end %>
                        <% end %>
                    <% end %>
                    </div>
                </div>
            </div>
            <!--投稿 カテゴリ--> 
            <div class="tab_content" id="post_content">
                <div class="tab_content_description">
                <% @article.each do |article| %>
                <%= link_to article_path(article.id) do %>
                <div class="boxbaseP30">
                <%= article.created_at.strftime("%m月%d日") %>
                <%= article.subject %>
                </div>
                <% end %>
                <% end %>
                </div>
            </div>
            <!--レビュー カテゴリ-->
            <div class="tab_content" id="review_content">
                <div class="tab_content_description">
                <% @review.each do |review| %>
                    <div class="boxbaseP30">
                    <%= review.created_at.strftime("%m月%d日") %>
                    <div id='star-rate-<%= review.id %>'>
                    <script>
                        $('#star-rate-<%= review.id %>').raty({
                            size: 36,
                            starOff:  '<%= asset_path('star-off.png') %>',
                            starOn : '<%= asset_path('star-on.png') %>',
                            starHalf: '<%= asset_path('star-half.png') %>',
                            half: true,
                            readOnly: true,
                            score: <%= review.evaluation %>,
                        });
                        </script> 
                        <p class="naiyou">
                            <%= review.body %>
                        </p>
                    </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>