<%= form_with model: @contract, url: plan_contracts_path(@plan.id,@contract.id), method: :post do |f| %>
    <input type="hidden" :customer_id, value="current_user.id" >
    <input type="hidden" :consultant_id, value="@plan.user_id" >
    <input type="hidden" :user_id, value="@plan.user_id" >

<div class="back_white plan_detail">
        <div id="vapp" class="inner">
            <div id="side" class="smt pc">

                <div class="gray">
                    <%= link_to user_profiles_path(@plan.user_id) do%>
                        <div class="wborder">
                        <img src="<%= @user.image %>",class= "resize125",width="125px" height= "125px", style= "border-radius: 50%;">
                        </div>
                    <% end %>
                    <p class="name-p">
                    <%= link_to user_profiles_path(@plan.user_id) do%>
                        <%= @user.name %>
                    <% end %>
                    </p>
                    <a href="#" class="color">
                        <%= link_to "もっと詳しく",user_profiles_path(@plan.user_id)%>
                    </a>
                    <div class="snsicon">
                        <a href="#" target="_blank" class="m-r1">
                        </a>
                    </div>
                    <div class="followbox">
                        <div class="z-depth-1 follow">
                            <div class="w50p">
                                <div class="title">フォロー</div>
                                <div class="member">
                                <%= link_to following_user_path(@user.id) do %>
                                    <span class="bold following_count"><%= @user.following.count %>人</span>
                                <% end %>
                                </div>
                            </div>
                            <div class="w50p">
                                <div class="title">フォロワー</div>
                                <div class="member">
                                <%= link_to followers_user_path(@user.id) do %>
                                    <span class="bold followers_count"><%= @user.followers.count %>人</span>
                                <% end %>
                                </div>
                            </div>
                            <div class="w50p">
                                <div class="title">返信率</div>
                                <div class="reply">
                                    <span class="bold">90%</span>
                                </div>
                            </div>
                            <div class="w30p"></div>
                            <div class="w30p"></div>

                        </div>
                    </div>
                    <p class="time_stamp">
                    <% if current_user.current_sign_in_at > 1.day.ago %>
                    <%= content_tag :p, "24時間以内", class: "current_signin"%>
                    <% elsif current_user.current_sign_in_at > 2.day.ago %>
                    <%= content_tag :p, "1日前", class: "current_signin"%>
                    <% elsif current_user.current_sign_in_at > 3.day.ago %>
                    <%= content_tag :p, "2日前", class: "current_signin"%>
                    <% elsif current_user.current_sign_in_at > 31.day.ago %>
                    <%= content_tag :p, "30日以上", class: "current_signin"%>
                    <% elsif 3.days.ago > current_user.current_sign_in_at > 31.day.ago %>
                    <%= content_tag :p, "30日以上", class: "current_signin"%>
                    <% end %> 
                    </p>
                    <div class="selfcheck">
                        <i class="fas fa-check-circle link"></i>
                        本人確認
                        <i class="fas fa-check-circle link"></i>
                        秘密保持契約(NDA)
                    </div>
                    <div class="hyouka_box">
                        <div class="icon_heart">
                            評価
                        </div>
                        <div class="right">
                            <div class="average-score mb-3">
                            <div class="star-rating ml-2">
                            <div class="star-rating-front" style="width: <%= @avg_score_percentage %>%">★★★★★</div>
                            <div class="star-rating-back">★★★★★</div>
                            </div>
                            <div class="average-score-display">
                            （<%= @avg_score %>点）
                            </div>
                            </div>
                        </div>
                        <div class="icon_money">料金</div>
                        <div class="right"><%= @min_price %>円〜</div>
                    </div>
                    <div class="SideMessageArea">
                    <% unless @user.id == current_user.id %>
                    <% if @is_room == true %>
                        <p class="user-show-room"><a href="/rooms/<%= @room_id %>" class="btn btn-primary btn-lg">チャットへ</a>
                    <% else %>
                        <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e| %>
                            <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= f.submit "メッセージで相談する", class:"btn btn-primary btn-lg side-bar-message"%>
                        <% end %>
                    <% end %>
                <% end %>
                    </div>
                </div>
            </div>
            <div id="main" class="no_br contract_main">
            <div class="boxbaseP30">
            <div class="mentorPlan_area">
            <h3>コンサルタントプラン</h3>
            <% @plan.smallplans.each do |smallplan| %>
            <div class="plan_block">
            <div class="plan_title">
            <%= smallplan.plan_name %>
            </div>
            <div class="plan_price">
            <span style="font-size: 1rem;">
            <%= smallplan.price %>円/回
            </span>
            </div>
            </div>
            <% end %>
            </div>
            <% unless @user.id == current_user.id %>
            <div class="submit_buttons alignCenter">
            <%= f.submit "契約する",class:"waves-light btn" %>
            </div>
            <% end %>
            </div>
            </div>
            </div>
            </div>
<% end %>
