<div class="white-back">
<%= form_tag({ :controller => 'bottles', :action => 'create_select_bottle' },{ :method => :post}) do %>      
  <h1 class="reading_title">
        オーラソーマは４本のボトルを選ぶことで、あなたの魂のメッセージをお伝えします。無料オーラソーマ ミニリーディング。選んだ４本のボトルから、あなたの人生の目的や使命、潜在的な可能性や才能、現在の状況、これからの方向性のヒントが得られます。
    </h1>
    <br>
    <h3 class="reading_sub">
        あなたが惹かれる４本のボトルを選んでください
    </h3>
    <div id="reading">
        <div id="box">
          <%= link_to image_tag("bottle1.png",class:".btl",id:"bottle1"),"#" %>
          <%= link_to image_tag("bottle2.png",class:".btl",id:"bottle2"),"#" %>
          <%= link_to image_tag("bottle3.png",class:".btl",id:"bottle3"),"#" %>
          <%= link_to image_tag("bottle4.png",class:".btl",id:"bottle4"),"#" %>
        </div>
          <input type="hidden" name="bottle_hid_1" id="bottle_hid_1" value="1" onclick="getId(this);">
          <input type="hidden" name="bottle_hid_2" id="bottle_hid_2" value="2" onclick="getId(this);">
          <input type="hidden" name="bottle_hid_3" id="bottle_hid_3" value="3" onclick="getId(this);">
          <input type="hidden" name="bottle_hid_4" id="bottle_hid_4" value="4" onclick="getId(this);">
        <div id="navi">
            <ul>
                <li id="no1">
                    <a href="javascript:deleteAction('del1')" id="del1" title="選び直す" style="display: none;">選び直す</a>
                </li>    
                <li id="no2">
                    <a href="#" id="del2 title="選び直す" style="display: none;">選び直す</a>
                </li>     
                <li id="no3">
                    <a href="#" id="del3" title="選び直す" style="display: none;">選び直す</a>
                </li>
                <li id="no4">
                    <a href="#" id="del4 title="選び直す" style="display:none;">選び直す</a>
                </li>
            </ul>
        </div>
        <%= submit_tag '結果を保存する', class:"waves-effect waves-light btn-large submit-bottle" %>


        <div id="buttons_box" class="buttons_box2">

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light modal-trigger bottle-selection" href="#modal1">ボトルの選び方</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>ボトルの選び方</h4>
      <p>
オーラソーマのリーディングでは、１本目はあなたの本質、潜在的可能性、２本目はチャレンジとギフト。３本目は現在の状況、４本目はこれからの方向性、ないし自分にやってくるエネルギーを表します。<br>
４本のボトルを選ぶときには、全部のボトルを眺めて、惹かれるボトルを選びます。ボトルから呼びかけられるような感じがするかもしれません。あるいはどうしても気になるボトル、好きなボトルをまず１本選びます。あるいは、自分が無人島に行くとしたら、どのボトルを連れて行きたいか？というふうに思ってまず１本を選びます。そして同じようにして４本を選んでいきます。<br>
      </p>
    </div>
  </div>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light modal-trigger bottle-selection" href="#modal2">ご利用上の注意</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>ご利用上の注意</h4>
      <p>
      このインターネットでのリーディングは、まだオーラ・ソーマについてよくご存じのない方や、お近くにオーラ・ソーマのリーディングの機会のない方々に、ちょっと体験していただくために提供しています。<br>
オーラ・ソーマのリーディングは実際のボトルから選んでもらうことが原則です。またオーラ・ソーマのコンサルタントの方による実際のリーディングを受けていただくことで、その方にあったリーディングを行うことが可能です。<br>
このインターネットのリーディングでは、皆さまが選ぶときに、出来る限りボトルの選択に近づけるように、実際のボトルをできるだけ忠実に撮影したボトルの写真を使用しています。<br>
実際は、ボトルのメッセージには様々な意味が隠されていますし、そのボトルがどの位置に選ばれるか、他のどのようなボトルとの組み合わせで選ばれているか、誰がそのボトルを選んでいるか等、さまざまな条件によって、同じボトルでもボトルの意味やリーディングの内容が変わってきます。<br>
実際のリーディングに興味を持たれた方は、オーラ・ソーマのコースを受講されて学ばれるか、あるいはオーラ・ソーマのコースを卒業されてリーディングをされているプラクティショナーの方からのリーディングを受けることをお勧めします。
      </p>
    </div>
  </div>
        <div class="clear"></div>
    </div>

    
    <div id="botttlelist" class="bottlelist">
        <%= link_to image_tag("B000.png",class:"btl", id: "B000"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B001.png",class:"btl", id: "B001"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B002.png",class:"btl", id: "B002"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B003.png",class:"btl", id: "B003"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B004.png",class:"btl", id: "B004"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B005.png",class:"btl", id: "B005"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B006.png",class:"btl", id: "B006"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B007.png",class:"btl", id: "B007"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B008.png",class:"btl", id: "B008"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B009.png",class:"btl", id: "B009"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B010.png",class:"btl", id: "B010"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B011.png",class:"btl", id: "B011"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B012.png",class:"btl", id: "B012"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B013.png",class:"btl", id: "B013"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B014.png",class:"btl", id: "B014"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B015.png",class:"btl", id: "B015"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B016.png",class:"btl", id: "B016"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B017.png",class:"btl", id: "B017"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B018.png",class:"btl", id: "B018"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B019.png",class:"btl", id: "B019"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B020.png",class:"btl", id: "B020"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B021.png",class:"btl", id: "B021"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B022.png",class:"btl", id: "B022"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B023.png",class:"btl", id: "B023"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B024.png",class:"btl", id: "B024"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B025.png",class:"btl", id: "B025"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B026.png",class:"btl", id: "B026"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B027.png",class:"btl", id: "B027"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B028.png",class:"btl", id: "B028"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B029.png",class:"btl", id: "B029"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B030.png",class:"btl", id: "B030"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B031.png",class:"btl", id: "B031"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B032.png",class:"btl", id: "B032"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B033.png",class:"btl", id: "B033"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B034.png",class:"btl", id: "B034"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B035.png",class:"btl", id: "B035"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B036.png",class:"btl", id: "B036"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B037.png",class:"btl", id: "B037"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B038.png",class:"btl", id: "B038"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B039.png",class:"btl", id: "B039"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B040.png",class:"btl", id: "B040"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B041.png",class:"btl", id: "B041"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B042.png",class:"btl", id: "B042"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B043.png",class:"btl", id: "B043"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B044.png",class:"btl", id: "B044"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B045.png",class:"btl", id: "B045"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B046.png",class:"btl", id: "B046"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B047.png",class:"btl", id: "B047"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B048.png",class:"btl", id: "B048"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B049.png",class:"btl", id: "B049"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B050.png",class:"btl", id: "B050"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B051.png",class:"btl", id: "B051"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B052.png",class:"btl", id: "B052"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B053.png",class:"btl", id: "B053"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B054.png",class:"btl", id: "B054"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B055.png",class:"btl", id: "B055"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B056.png",class:"btl", id: "B056"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B057.png",class:"btl", id: "B057"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B058.png",class:"btl", id: "B058"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B059.png",class:"btl", id: "B059"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B060.png",class:"btl", id: "B060"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B061.png",class:"btl", id: "B061"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B062.png",class:"btl", id: "B062"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B063.png",class:"btl", id: "B063"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B064.png",class:"btl", id: "B064"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B065.png",class:"btl", id: "B065"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B066.png",class:"btl", id: "B066"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B067.png",class:"btl", id: "B067"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B068.png",class:"btl", id: "B068"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B069.png",class:"btl", id: "B069"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B070.png",class:"btl", id: "B070"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B071.png",class:"btl", id: "B071"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B072.png",class:"btl", id: "B072"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B073.png",class:"btl", id: "B073"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B074.png",class:"btl", id: "B074"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B075.png",class:"btl", id: "B075"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B076.png",class:"btl", id: "B076"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B077.png",class:"btl", id: "B077"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B078.png",class:"btl", id: "B078"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B079.png",class:"btl", id: "B079"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B080.png",class:"btl", id: "B080"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B081.png",class:"btl", id: "B081"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B082.png",class:"btl", id: "B082"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B083.png",class:"btl", id: "B083"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B084.png",class:"btl", id: "B084"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B085.png",class:"btl", id: "B085"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B086.png",class:"btl", id: "B086"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B087.png",class:"btl", id: "B087"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B088.png",class:"btl", id: "B088"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B089.png",class:"btl", id: "B089"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>  
        <%= link_to image_tag("B090.png",class:"btl", id: "B090"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B091.png",class:"btl", id: "B091"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B092.png",class:"btl", id: "B092"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B093.png",class:"btl", id: "B093"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B094.png",class:"btl", id: "B094"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B095.png",class:"btl", id: "B095"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B096.png",class:"btl", id: "B096"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B097.png",class:"btl", id: "B097"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B098.png",class:"btl", id: "B098"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B099.png",class:"btl", id: "B099"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>  
        <%= link_to image_tag("B100.png",class:"btl", id: "B100"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B101.png",class:"btl", id: "B101"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B102.png",class:"btl", id: "B102"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B103.png",class:"btl", id: "B103"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B104.png",class:"btl", id: "B104"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B105.png",class:"btl", id: "B105"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B106.png",class:"btl", id: "B106"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B107.png",class:"btl", id: "B107"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B108.png",class:"btl", id: "B108"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B109.png",class:"btl", id: "B109"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %> 
        <%= link_to image_tag("B110.png",class:"btl", id: "B110"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B111.png",class:"btl", id: "B111"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B112.png",class:"btl", id: "B112"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B113.png",class:"btl", id: "B113"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B114.png",class:"btl", id: "B114"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B115.png",class:"btl", id: "B115"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B116.png",class:"btl", id: "B116"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B117.png",class:"btl", id: "B117"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B118.png",class:"btl", id: "B118"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B119.png",class:"btl", id: "B119"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B120.png",class:"btl", id: "B120"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B121.png",class:"btl", id: "B121"),'javascript:void(0)',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>    
    </div>
</div>
<% end %>
</div>
