<div class="result-bottle">
    <h1 class="title1">あなたの魂からのメッセージ<br>あなたが選んだ４本のボトル</h1>
    <%= link_to "ボトルをもう一度選ぶ",bottles_new_path %>
    <table align="center">
                <td align="center">
                    <div class="item">
                    <% @select_bottles.each.with_index(1) do |select_bottle, i| %>                        
                        <% bottle = Bottle.find_by(id: select_bottle.bottle_id) %>
                        <!-- hoverする画像 -->
                        <div class="item__img">
                        <%= image_tag(bottle.bottle_type+".png",class:"center-b",width: '200px') %>
                        <!-- 画像をhoverした時に表示させる要素 -->
                        <div class="item__text">
                        <% if i == 1 %>
                            <p><%= "#{i}" %>本目のボトルは魂のボトル </p>
                            <p>あなたの人生の目的と使命、潜在的可能性を示しています。</p>
                        <% elsif i == 2 %>
                            <p><%= "#{i}" %>本目のボトルはチャレンジとギフトのボトル </p>
                            <p>人生にチャレンジすることで開花する才能を示します。</p>
                        <% elsif i == 3 %>
                            <p><%= "#{i}" %>本目のボトルは今ここのボトル </p>
                            <p>あなたの今現在の状態を示します。</p>
                        <% elsif i == 4 %>
                            <p><%= "#{i}" %>本目のボトルは未来のボトル </p>
                            <p>あなたのこれからの可能性を示します。</p>
                        <% end %>

                            <h5><%= bottle.bottle_type %></h5><br>
                            <p><%= bottle.bottle_name %></p>
                        </div>
                        </div>
                    <% end %>
                </div>
                </td>
        
            
    </table>
</div>

