        <section class="top-keyVisual">
            <div class="top-keyVisual_container">
                <div class="top-keyVisual_heading">
                    <div class="top-keyVisual_inner heading-inner flexbox">
                        <h1 class="top-keyVisual_title">
                            <span class="top-keyVisual_copy color-main">あなたの色を見つけよう</span>
                            <span class="top-keyVisual_lead">気軽に相談してみよう</span>
                        </h1>
                        <div class="top-keyVisual_img">
                        <%= image_tag('rainbow.png')%>
                        </div>
                        <div class="top-smt-image">
                        <%= image_tag('reichan.png')%>
                        <div>
                    </div>
                </div>
                <div class="top-register">
                    <div class="top-register_inner">
                    <div class="smt-hyoji-btn">
                        <%= link_to "テストログイン", users_guest_sign_in_path, method: :post, class:"padding-r waves-effect waves-light btn-large smt-test-login" %>
                        <%= link_to "今すぐはじめる", new_registration_path(resource_name),class:"padding-r waves-effect waves-light btn-large smt-start-now" %>
                    </div>
                        <div class="top-register_card flexbox">
                            <div class="row top-cards">
                                <div class="col s12 m6">
                                  <div class="card blue-grey darken-1 top-card">
                                    <%= link_to "テストログイン", users_guest_sign_in_path,method: :post, class:"waves-effect waves-light btn-large test-login" %>
                                    <%= link_to "今すぐはじめる" ,new_registration_path(resource_name), class:"waves-effect waves-light btn-large start-now" %>                 
                                    <div class="card-action">
                                      <%= link_to "みのいろとは？（お客様向け)",explanations_customer_path, class:"card-custom" %>
                                      <%= link_to "みのいろとは？（カラーコンサルタント向け)",explanations_consultant_path, class:"card-custom minoiro" %>
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </div>
                       
                    </div>
                </div>
                
            </div>
        </section>

    
    <section class="top-feature">
        <div class="top-container">
            <div class="top-container_heading heading">
                <h2>
                    <span class="heading-copy">お客様とカラーコンサルタントを繋ぐサービス</span>
                    
                </h2>
                <p class="heading-support">日々の悩みを色でコンサルティングしてもらおう</p>
            </div>
            <!-- 大枠-->
            <div class="top-container_body">
                <!--中枠-->
                <div class="top-container_item grid img_left">
                    <div class="row">
                        <div class="col s12">
                            <div class="card triple-cards">
                                <div class="card-image">
                                <%= image_tag "clock.png",:size=>'300x300' %>
                                </div>
                                <div class="card-content">
                                    <span class="card-title">即日取れるカウンセリング予約</span>
                                        <p>最短1時間後から予約可能。「今、コンサルしたい」時にもご利用いただけます。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!--middle-->
        <div class="top-container_item grid img_middle">
            <div class="row">
                <div class="col s12">
                    <div class="card triple-cards">
                        <div class="card-image img-resize">
                        <%= image_tag "online_illust.png", class:"image1"%>
                        <%= image_tag "offline_illust.png", class: "image2"%>
                        </div>
                    
                        <div class="card-content">
                            <span class="card-title">オンライン・オフラインに対応</span>
                                <p>まずはオンラインで、気に入ればカフェや自宅などで気軽にコンサルテーションできます。</p>
                                <p class="small-text">※交通費やカフェ代はお客様負担となります。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--right-->
        <div class="top-container_item grid img_right">
            <div class="row">
                <div class="col s12">
                    <div class="card triple-cards">
                        <div class="card-image">
                        <%= image_tag "reasonable_illust2.png", :height=>300%>
                        </div>
                        <div class="card-content">
                            <span class="card-title">リーズナブル</span>
                                <p>今まで手の届かなかったカラーコンサルティングがなんと1000円から4500円の間で受けることができます。</p>
                                <p class="small-text">※障害者手帳をお持ちの方は半額割引となります。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popout-screen">
<ul class="collapsible popout">
    <li>
        <div class="collapsible-header">
            <%=image_tag "colorbottole.png", :height=>30%>
            カラーコンサルティング（オーラソーマ）とは？
        </div>
        <div class="collapsible-body">
            <span>オーラソーマとは、1983年にイギリスのヴィッキー・ウォールが創始したカラーセラピーです。</span>
            <%= image_tag "bottles.png", :size=>'1420x500', class:"bottles"%>
        </div>
    </li>
  </ul>
</div>
</section>

<section class="top-case">
    <div class="top-container">
        <div class="top-container_heading heading">
            <h2>
                <span class="heading-copy">例えばこんなお悩みありませんか？</span>
            </h2>
        </div>
        <div class="top-case_body">
            <div class="row">
                <div class="col s12 m10">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            生まれてきた意味を知りたい
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>                     
                        <p>なぜ自分が生まれきたのか、自分の生まれてきた意味、使命がわからず辛い。</p>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m10">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            将来への不安
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                      <p>将来のことが漠然とわからず、不安で仕方ない。</p>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m10">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">
                            恋愛・夫婦関係
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                      <p>喧嘩ばかりで最近うまくいってない。相手との相性を知りたい。</p>
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
        <i class="large material-icons arrow">arrow_drop_down</i>
        <div class="top-container_under_wrapper">
            <h2>
                <span class="under-copy">みのいろが解決します</span>
                <i class="fas fa-lightbulb fa-bigger"></i>
            </h2>
        </div>
    </div>
</section>

<section class="top-conversion">
    <div class="top-container_heading heading">
        <h2>
            <span class="heading-copy">
                まずは無料登録から
                <span class="sp-block">はじめよう</span>
            </span>
        </h2>
        <p class="top-conversion-text">
            障害者手帳をお持ちの方は半額キャンペーン実施中!
        </p>
        <div class="top-conversion_buttons">
            <%= link_to "無料ではじめる", new_registration_path(resource_name), class:"waves-effect waves-light btn-large free-btn" %>
            <%= link_to "みのいろとは？（お客様向け)",explanations_customer_path,class:"card-custom minoiro2" %>
            <%= link_to "みのいろとは？（カラーコンサルタント向け)",explanations_consultant_path, class:"card-custom minoiro" %>
        </div>
    </div>
</section>

  

  
