
<div class="back_white p-t3 dashContent">
    <div class="dashContent_right">
        <h1>メッセージ</h1>
        <div class="v-app memberMainContents m-b3">
            <div>
                <%= link_to user_profiles_path(@another_entry.user_id), class: "text_link bold" do %>
                <%= ("#{User.find(@another_entry.user_id).name}") %>
                <% end %>
                さんに
                <strong>メッセージを送信する</strong>
            </div>
            <div>
                    
                    <div class="msg_area mt-3">
                        <p class="small text_message">
                            <span>残り5000字以内</span>
                        </p>
                        <div class="chat-form-box">
                          <%= form_for @message do |f| %>
                            <div class="chat-form-group">
                              <%= f.text_area :body %>
                              <%= f.hidden_field :room_id, :value => @room.id %>
                    <div class="alignCenter imasugu mt-3">
                        <%= f.submit "送信する", class:"btn nosubmit" %>
                    </div>
                    </div>
                    <% end %>
                  </div>
              </div>
                    <div class="tyui m-t2 small">
                        <p class="tyui_text">注意事項</p>
                        <ul class="tyui_text">
                            <li>みのいろを介さずに行う直接取引、勧誘・宣伝行為を禁止しております。
                                <br>
                                これらの行為が確認された場合、アカウント制限等の対応をさせていただきますのでご注意ください。
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <div id="vapp"></div>

        

  <div class="chats">
  <div class="chatt">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
        <% if user_signed_in? && current_user.id != @message.user_id %>
        <td><%= link_to "削除", message_path(m.id), method: :delete %></td>
        <% end %>
          <div class="chat-face">
          <img src="<%= m.user.image %>",class= "resize125",width="20px" height= "20px", style= "border-radius: 50%;">
          <%= m.user.name %>
            <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
          <div class="chat-hukidashi"> <strong><%= m.body %></strong> <br>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
    </div>
</div>
