<%= form_with model: @plan, url: user_plan_path(@user.id), local: true do |f| %>

    <div class="js-plan-edit back_white inner p-t3 dashContent">
            <div class="dashContent_right">
                <h1>コンサルタントプラン編集／追加</h1>
                <div class="alert alert-info">
                    <p>
                        <i class="fas fa-info-circle"></i>
                        プランの公開には運営チームによる確認が必要です。
                        <a href="#">規約</a>
                        ・
                        <a href="#">ガイドライン</a>
                        に抵触していないか確認後、公開されます。
                    </p>
                </div>
                <div id="vapp"></div>
                    <input name="_token" type="hidden">
                    <div class="boxbaseP30 plan_field plan_module z-depth-1">
                        <div class="in plan_field_inner">
                            <span class="plan_module_subject">コンサルティングプラン</span>
                            <div class="m-b2">
                                プランを登録すると
                                <%= link_to "コンサルタントとして掲載", plans_path, class:"link", target: :_blank %>
                                されます。
                            </div>
                            <div class="form_item">
                                <div class="form_item_head flexbox">
                                <%= f.label :title, "タイトル",class:"font-weight"%>
                                    <span class="required_label">必須</span>
                                    <p class="small">提供できる内容をわかりやすく記載しましょう。20文字以上80文字以内。</p>
                                </div>
                                <div class="form_item_body">
                                    <div class="m-t-5">
                                        <%= f.text_field :title, class:"w100p", :placeholder =>"#{@plan.title}" %>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form_item">
                                <div class="form_item_head flexbox">
                                    <%= f.label :can_do ,"できること" ,class:"font-weight"%>
                                    <span class="required_label">必須</span>
                                    <p class="small">
                                        1000文字以上5,000文字以内。
                                    </p>
                                </div>
                                <div class="form_item_body">
                                    <%= f.text_area :can_do, :placeholder =>"#{@plan.can_do}" %>
                                    <span classs="help-block"></span>
                                </div>
                            </div>
                            <div class="plan_edit_unit m-t2">
                                <%= f.label :youtube,"Youtube動画URL",class:"font-weight" %>
                                <p class="small m-t1">Youtube動画の登録ができます。登録動画はプラン詳細に表示され、お客様への信頼度向上が期待できます。</p>
                                <div class="plan_edit_items m-t2 flexbox">
                                    <div class="plan_edit_item">
                                        <div class="m-t1">
                                            <%= f.text_field :youtube, class:"w100p" , :placeholder =>"#{@plan.youtube}" %>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--プラン入力-->
                <div id="js-plan" class="plan_module js-plan_input m-t2">
                <div class="plan_create_title">
                    <span class="plan_module_subject plan_module_PlanTitle">
                        プランを作成する
                    </span>   
                </div>
                <div class="plan_area">
    <%= f.fields_for :smallplans do |smallfields| %>
    <div class="boxbaseP30 plan_module smallplan js-addfield-block_<%= smallfields.index %> flex-wrap planbox m-b-20 z-depth-1" data-index="<%= smallfields.index %>" style="padding: 30px">
    <div class="left ">
        <%= smallfields.text_field :plan_name %>
    </div>

    <div class="pricebox ">
        <%= smallfields.text_field :price %>
        <div class="yenkais">
        <span class="yenkai">円/</span>
        <span class="kai">回</span>
        </div>
    </div>


    <div class="items">
        <div class="item_name flexbox">
            <h3>相談方式</h3><span class="optional_label">任意</span>
        </div>
            <%= smallfields.check_box :chat, id: :minoiro_checkbox, :as =>:boolean %>
            <%=smallfields.label :チャット %>
            <%= smallfields.check_box :video, id: :minoiro_video, :as =>:boolean %>
            <%= smallfields.label :ビデオ通話 %>
    </div>

    <div class="m-t2 left w100p ">
        <%= smallfields.text_area :plan_detail, class: "w100p"%>
    </div>
            <div class="right m-b-20 smt_right m-t1" style="width: auto; margin-left: auto;">
            <a class="button delete-form-btn" data-deletefiled="true" data-index="<%= smallfields.index %>">
                <i class="fas fa-times-circle"></i> 削除
            </a>
        </div>
    </div>
    <% end %>
    </div>
                    
    <%= f.button "さらにプランを追加する", type: :button, class:"waves-light btn-large btn-custom5 add-form-btn"%>

                        </div>
                    
                            </div>
                        </div>
                    </div>
                    <!--ステータス-->
                    <div class="boxbaseP30 plan_module z-depth-1">
                        <div class="in">
                            <div class="status_unit">
                                <div class="status_unit_head flexbox">
                                    <%= f.label :status,"ステータス", class:"status_unit_head_label" %>
                                    <%= f.select :status, [['相談できます', 1], ['今、忙しいです', 2],['表示しない', 3]], { include_blank: true, selected: 1 } %>      
                                </div>
                                <div class="status_unit_head_body">
                                    <p class="small">今、忙しいです : コンサルタント一覧には表示されますが契約できなくなります</p>
                                    <p class="small">表示しない : コンサルタント一覧に表示されなくなります</p>
                                </div>
                            </div>
                            <div class="status_unit">
                                <div class="status_unit_head flexbox">
                                    <h3 class="status_unit_head_label">コンセント</h3>
                                    <%= f.select :consent, [['承認なし', 1], ['承認あり', 2]], { include_blank: true, selected: 1 } %>
                                </div>
                                <div class="status_unit_head_body">
                                    <p class="small">承認あり : コンサルタントが契約を承認後のみ契約可能</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--保存ボタンエリア-->
                    <div class="boxbaseP30 plan_module plan_module_submit z-depth-1">
                        <div class="plan_module_submit_buttons alignCenter center">
                            <div class="main_button flexbox">
                                <a class="waves-effect waves-light btn-large custom-btn">下書き</a>
                                <%= f.submit "コンサルティングプランを提出する",type: :submit,class:"waves-effect waves-light btn-large custom-btn2" %>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <% end %>

   