<div class="back_white">
    <div class="mentaListBox">
    <div class="searchBox">
    <div class="plan_search">
        <h3 class="m-b1">条件で絞り込む</h3>
        <%= form_with url: search_path, id: :search_plan, method: :get, local: true do |f| %>
        <div class="relative">
            <%= f.text_field :keyword, value: @keyword, :placeholder => "検索" %>
            <br>
            <%= f.submit '検索', id: 'search-submit' %>
        </div>
        <div class="cp_box1">
            <div class="cp_container">
            <div class="items">
                <div class="item_name flexbox">
                    <h3>相談方式</h3>
                </div>
                <%= f.check_box :chat, id: :minoiro_checkbox, :as =>:boolean, checked: params[:chat] == "1" %>
                <%=f.label :チャット %>
                <%= f.check_box :video, id: :minoiro_video, :as =>:boolean, checked: params[:video] == "1" %>
                <%= f.label :ビデオ通話 %>
            </div>
            <div class="motto">
                <div class="price-custom">
                <div class="searchBox_m">料金</div>
                <div class="form-group right">
                    <div class="select-wrap">
                    <%= f.select :price, [['選択してください', 1], ['〜2000円', 2],['〜3000円', 3],['〜4000円', 4],['〜4999円', 5]], { include_blank: true, selected: params[:price] }, id: "price-select", class: "price-control" %>
            </div>
            </div>
            </div>
            <div class="review-custom">
                <div class="searchBox_m">評価</div>
                <div class="form-group right">
                    <div class="select-wrap">
                    <%= f.select :evaluation, [['選択してください', 1], ['〜★★★', 2],['〜★★★★', 3],['★★★★★', 4]], { include_blank: true, selected: params[:evaluation] } %>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>
        <% end %>           
        </div>
    
    <div class="listBox">
        <div class="mentorSearch">
            <h1>
                コンサルタントを探す
            </h1>
        </div>            
        <div class="listBox_inner flexbox">
            <div class="listBox_info">
                <p class="listBox_result">
                    <span>
                    <%= @plans.count %>
                    </span>
                    人のコンサルタントがみつかりました。
                </p>
            </div>
            <div class="consultant-plan">
            <div id="vapp">
                <div class="mentorList">
                <% @plans.each do |plan| %>
                <%= link_to user_plans_path(plan.user.id) do %>
                    <div class="plan-card">
                    <div class="plan-card_wrapper"></div>
                    <div class="p-content-card_inner">
                        <div class="plan_card_eyecatch">
                                <div class="plan-card_image slickSlide slick-initialized slick-slider">
                                    <div class="slick-list draggable">
                                        <div class="slick-track" style="opacity: 1; width: 268px; tranform: translated3d(0px, 0px, 0px);">
                                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width:268px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label>
                                    <div class="plan-card_iconButton flexbox">
                                    <div>
                                        <span class="like off">
                                        <div id = "like_button_<%= plan.user.id %>">
                                        <%= render partial:'like_button', locals: { user: plan.user } %>
                                        </div>
                                            </span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="plan-card-text">
                                <div class="plan-card_top">
                                    <div class="plan-card_subject">
                                        <%= plan.title %>
                                    </div>
                                    <div class="prefecture">
                                    <%= plan.user.prefecture %>
                                    </div>
                                    <div class="plan-card_user flexbox">
                                        <div class="flexbox">
                                            <span class="avatar-image">
                                            </span>
                                            
                                            <span class="name">
                                            <img src="<%= plan.user.image %>",class= "message-img", width="15px", style= "border-radius: 50%;">
                                            <%= plan.user.name %>
                                            </span>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="plan-card_bottom">
                                    <div class="plan-card_info flexbox">
                                        <div class="plan-card_review flexbox">
                                            <span class="plan-card_review-icon">
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="plan-card_review-count">
                                            <% @reviews =  plan.user.reviewees %>
                                            <% unless plan.present? %>
                                            <%= @avg_review = 0 %>
                                            <% else %>
                                            <%= @avg_review = @reviews.average(:evaluation).present? ? @reviews.average(:evaluation).round(2) : 0 %>
                                            <% end %>
                                            </span>
                                        </div>
                                        <div class="plan-card_price">
                                        <% @min_price = plan.smallplans.minimum(:price) %>
                                        <%= @min_price %>円〜
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                    
                <% end %>
                
                
                    

<%#おわり%>
                </div>
            </div>
        </div>
        </div>
        <div class="m-t2"></div>
    </div>
</div>
</div>




