<% if user_signed_in? %>
<body>
<%#PC表示%>
    <header class="header pc_hyoji mini">
        <div class="header_inner">
            <div class="header_inner_head flexbox">
                <div id="logo">
                    <%= link_to "みのいろ",users_path %>
                </div>
                <ul class="menu gnav flexbox">
                    <li class="menu_item flexbox">
                        <%= link_to "コンサルタントを探す",plans_path %>
                    </li>
                    
                    <li class="menu_item flexbox">
                        <%= link_to "ブログ",articles_path %>
                    </li>
                </ul>
                <div class="navi auth_buttons flexbox">
                    <div class="search">
                            <div class="relative">
                            <%= form_with url: search_path, method: :get, local: true do |f| %>
                                <%= f.search_field :keyword,:placeholder => "検索" %>
                                <br>
                                <% f.submit '検索' %>
                            <% end %> 
                                <div class="absolute center-v right-1 gray2 header_search">
                                    <i class="fas fa-search gray"></i>
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="iconbtn" style="margin-right: 16px;">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger' href='#' data-target='dropdown2'><%= image_tag "flower.jpeg", :height=>"50px"%></a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown2' class='dropdown-content dropdown2'>
                            <li>
                            <%= link_to "HOME", users_path %>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li>
                            <%= link_to "プロフィール",profile_path %>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li>
                            <%= link_to "フォローリスト",following_user_path(current_user.id) %>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li>
                            <%= link_to "メッセージ",rooms_path %>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li>
                            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                            </li>
                            </ul>
                    </div>
                    <div class="add_new">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn create-btn' href='#' data-target='dropdown3'>作成</a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown3' class='dropdown-content dropdown3'>
                            <li><%= link_to "プランの作成",new_plan_path %></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><%= link_to "ブログの作成",new_article_path %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <%#スマホ表示%>
    <header class="header smt_hyoji">
        <div class="header_inner flexbox">
            <div id="nav-drawer" class="header_inner_head flexbox">
                <div class="menu_icon envelope">
                    <%= link_to rooms_path do %>
                        <i class="far fa-envelope awe-resize"></i>
                    <% end %>
                </div>
                
                <div class="menu_icon_last">
                    <ul id="slide-out" class="sidenav custom-sidenav">
                        <li>
                            <%= link_to profile_path, class:"waves-effect" do %>
                                <i class="far fa-user fa-resize"></i>
                                プロフィール
                            <% end %>
                        </li>
                        <li><div class="divider message-bottom"></div></li>
                        <li>
                        <%= link_to explanations_customer_path, class:"waves-effect" do %>
                            <i class="fas fa-question-circle fa-resize"></i>
                            みのいろとは？（お客様）
                        <% end %>
                        </li>
                        <li><div class="divider"></div></li>
                        <li>
                        <%= link_to explanations_consultant_path, class:"waves-effect" do %>
                            <i class="fas fa-question-circle fa-resize"></i>
                            みのいろとは？（コンサルタント）
                        <% end %>
                        </li>
                        <li><div class="divider"></div></li>
                        <li>
                        <%= link_to users_path, class:"waves-effect" do %>
                            <i class="fas fa-home fa-resize"></i>
                            HOME
                        <% end %>
                        </li>
                        <li><div class="divider"></div></li>
                        <li>
                        <%= link_to plans_path, class:"waves-effect" do %>
                            <i class="fas fa-search fa-resize"></i>
                            コンサルタントを探す
                        <% end %>
                        </li>
                        <li><div class="divider"></div></li>
                        <li>
                        <%= link_to articles_path, class:"waves-effect" do %>
                            <i class="fas fa-search fa-resize"></i>
                            ブログを探す
                        <% end %>
                        </li>
                        <li><div class="divider"></div></li>
                        <li>
                        <%= link_to "フォローリスト", class:"waves-effect" do %>
                            <i class="far fa-heart fa-resize"></i>
                        <% end %>
                        </li>
                        <li><div class="divider"></div></li>
                        <li>
                        <%= link_to destroy_user_session_path, method: :delete, class:"waves-effect" do %>
                            <i class="fas fa-unlock-alt fa-resize"></i>
                            ログアウト
                        <% end %>
                        </li>
                        <li><div class="divider logout-bottom"></div></li>
                        <li><a class="waves-effect" href="#!">ビジョン</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">利用規約</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">特定商取引に基づく表記</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="#!">個人情報保護法</a></li>
                        <li><div class="divider"></div></li>
                        <li>
                        <%= link_to inquiries_index_path, class:"waves-effect" do %>
                        お問い合わせ
                        <% end %>
                        </li>
                        <li><div class="divider"></div></li>
                    </ul>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><%= image_tag "flower.jpeg", :height=>"50px" %></a>
                </div>
            </div>
        </div>
    
                
    </header>


<% else %>

<%#pc表示%>
<header class="header pc_hyoji mini">
    <div class="header_inner">
        <div class="header_inner_head flexbox">
            <div id="logo">
                <%= link_to "みのいろ", root_path, class:"flexbox" %>
            </div>
            <ul class="menu gnav flexbox">
                <li class="menu_item flexbox">
                    <%= link_to "コンサルタントを探す", plans_path %>
                </li>
                <li class="menu_item flexbox">
                <%= link_to "ブログ", articles_path %>
                </li>
            </ul>
            <div class="navi auth_buttons flexbox">
                <div class="navi_login">
                    <%= link_to("ログイン", new_session_path(resource_name), class: "waves-effect waves-light btn pchyoji-login") %>
                </div>
                <div class="navi_entry">
                    <%= link_to("無料登録",new_registration_path(resource_name),class: "waves-effect waves-light btn pchyoji-register") %>
                </div>
            </div>
        </div>
    </div>
</header>    
<%#スマホ表示%>
<header class="header smt_hyoji">
    <div classs="header smt_hyoji">
        <div class="header_inner flexbox">
            <div id="nav-drawer" class="header_inner_head flexbox">
                <div id="logo">
                <%= link_to "みのいろ", root_path, class:"flexbox" %>
                </div>
                <div class="navi auth_buttons flexbox">
                <input id="nav-input" type="checkbox" class="nav-unshown">
                <div class="login">
                    <%= link_to("ログイン", new_session_path(resource_name), class: "waves-effect waves-light btn pchyoji-login") %>
                </div>
                <div class="navi_entry">
                    <%= link_to("登録",new_registration_path(resource_name),class: "waves-effect waves-light btn pchyoji-register") %>
                </div>
                
                </div>
        </div>
</header>
<a href="#">
    <div class="ad">
        <i class="fas fa-gift"></i>
        障害者手帳をお持ちの方はさらに半額キャンペーン実施中!
        <span>まずは無料登録から!</span>
    </div>
</a>
</body>
<% end %>
