<% provide(:title, "SIGN UP") %>
    <div class="loginpanel_wrap p-t6 p-b6">
        <div class="loginpanel">
            <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>
                    <div class="login_title">
                        <h1>新規会員登録</h1>
                        <p class="login_lead">メールアドレスで登録</p>
                    </div>
                    <div class="form_item">
                        <div class="input_head">
                            <p><%= f.label :メールアドレス %></p>
                        </div>
                        <div class="input_body">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        </div>
                    </div>
                    <div class="form_item">
                        <div class="input_head">
                            <p><%= f.label :ユーザー名 %></p>
                        </div>
                        <div class="input_body">
                            <%= f.text_field :name, :placeholeder => "ユーザー名", autofocus: true, maxlength: "20" %>
                        </div>
                    </div>
                    <div class="form_item">
                        <div class="input_head">
                            <p><%= f.label :パスワード（英数字8文字以上）%></p>
                        </div>
                        <div class="input_body">
                            <%= f.password_field :password, autocomplete: "new-password",id: "password" %>                               
                            <i class="fa icon_eye fa-eye" data-target-element="password"></i>
                        </div>
                    </div>
                    <div class="form_item">
                        <div class="input_head">
                            <p><%= f.label :確認用パスワード %></p>
                        </div>
                        <div class="input_body">
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "passwordConfirm"%>
                            <i class="fa icon_eye fa-eye" data-target-element="passwordConfirm"></i>
                        </div>
                    </div>
                    <div class="register-select">
                        <p>
                        <label>
                            <%= f.radio_button :userstyle, value=0, class:"with-gap",checked: true %>
                            <%= f.label :お客様として %>
                        </label>
                        </p>
                        <p class="consultant-check">
                        <label>
                            <%= f.radio_button :userstyle, value=1, class:"with-gap" %>
                            <%= f.label :コンサルタントとして %>
                        </label>
                        </p>
                    </div>
                    <div class="submit_buttons">
                        <%= f.button "無料で会員登録する",type: :submit,class:"waves-effect waves-light btn-large registration-btn" %>
                    </div>
                    <div class="m-t3">
                        <%= render "users/shared/links" %>
                    </div>
                <% end %>
        </div>
    </div> 
